<div class="container">
  <h1> See all of your rentals  <h1>
    <%= @my_rentals.each do |rental| %>
      <p>
        This offer is from <%=rental.user.first_name%>
        They offered R<%= rental.offer_value%>
      </p>
    <%end%>
</div>
