<div class="container my-5">
  <h1>Countries for Rent</h1>

  <div class="countries-grid mt-3">
    <% @countries.each do |country| %>
      <%= link_to country_path(country) do %>
        <div class="card-country" style="background-image: url('<%= country.image_url %>'); background-size: cover; background-position: center;">
          <p><%= country.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
