<div class="container my-3">
<div class="card">
  <h1><%= @country.name %></h1>
  <p><%= @country.description %></p>
  <%= image_tag "#{@country.image_url}", alt: "country", width: 600 %>
</div>
  <%= link_to "Back to all countries", countries_path, class: "btn btn-primary" %>
</div>
