.card-country {
  border: solid 1px black;
  min-height: 14em;
  // width: 23em;
  overflow: hidden;
  border-radius: 10px;
  // transition: 0.7s ease
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  p {
    font-size: 2rem;
    text-shadow: 2px 3px 5px rgba(0,0,0,1);
  }
}

.card-country-show {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 50%;
    object-fit: cover;
  }
}

.card-country-show-info {
  width: 50%;
}

.card-country-rental {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 30%;
    object-fit: cover;
  }
}
