.countries-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

@media (max-width: 768px) {
  .countries-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 540px) {
  .countries-grid {
    grid-template-columns: 1fr;
  }
}
